amqp==5.3.1
asgiref==3.10.0
billiard==4.2.2
black==25.9.0
celery==5.5.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.11.0
Django==5.2.7
flake8==7.3.0
kombu==5.5.4
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
prompt_toolkit==3.0.52
pycodestyle==2.14.0
pyflakes==3.4.0
python-dateutil==2.9.0.post0
pytokens==0.2.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.14
